<% unless user_signed_in? %>
<div id="sign-in-modal" class="black-box modal hide fade">
  <div class="modal-header tab-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <span>Sign In</span>
  </div>
  <div class="modal-body separator">
  <%= form_for :user, :url => session_path(:user) do |f| %>
    <%= f.text_field :email, :placeholder => 'Email Address', :class => 'input-block-level' %>
    <%= f.password_field :password, :placeholder => 'Password', :class => 'input-block-level' %>
    <% if devise_mapping.rememberable? %>  
      <%= f.check_box :remember_me %> <%= f.label :remember_me %> 
    <% end %>  
   </div>
    <div class="modal-footer">
      <div class="inner-well">
      <a class="button mini rounded light-gray" data-dismiss="modal">Cancel</a>
      <%= f.submit "Sign in", :class => 'button mini rounded blue' %>
      </div>
    </div>
  <% end %>  
</div>
<% end %>

<div id="modal-gallery" class="black-box modal modal-gallery hide fade">
  <div class="modal-header tab-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <span class="modal-title"></span>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <div class="pull-left">
      You can also change the images<br/> by scrolling the mouse wheel!
    </div>
    <div class="pull-right">
      <a class="button blue modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
      <a class="button gray modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
      <a class="button green modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
      <a class="button black" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
  </div>
</div>
