<div id="login" class="login-wrapper animated">
	<%= form_for :user, :url => session_path(:user) do |f| %>
		<div class="input-group">
			<%= f.email_field :email, :autofocus => true, :class => "input-transparent", :placeholder => "Email Address" %>
			<%= f.password_field :password, :class => "input-transparent", :placeholder => "Password" %>
		</div>

		<% if devise_mapping.rememberable? -%>
		<!-- <%= f.check_box :remember_me, { :class => "normal-check" } %>
		<%= f.label :remember_me %> -->
		<% end %>

		<%= f.button t(:sign_in), :class => "login-button" %>
		<%# render "devise/shared/links" %>
	<% end %>
</div>
